<div class="container">
  <div class="row text-center justify-content-between">
    <div class="col-lg-3 col-md-6 col-12 pb-3">
      <div
        class="border border-light py-5 shadow rounded d-flex flex-column justify-content-center align-items-center"
        style="height: 300px;">
        <p class="brand-text">DC ACADEMY</p>
        <p class="color-primary fw-bold fs-5 px-4">Ik wil op de hoogte worden gehouden van veranderingen in de
          markt.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 pb-3">
      <div
        class="border border-light py-5 shadow rounded d-flex flex-column justify-content-center align-items-center"
        style="height: 300px;">
        <p class="brand-text">DC ACADEMY</p>
        <p class="color-primary fw-bold fs-5 px-4">Crypto-beveiliging Ik wil leren</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 pb-3">
      <div
        class="border border-light py-5 shadow rounded d-flex flex-column justify-content-center align-items-center"
        style="height: 300px;">
        <p class="brand-text">DC ACADEMY</p>
        <p class="color-primary fw-bold fs-5 px-4">Ik weet niet hoe ik moet beginnen met cryptohandel</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 pb-3">
      <div
        class="border border-light py-5 shadow rounded d-flex flex-column justify-content-center align-items-center"
        style="height: 300px;">
        <p class="brand-text">DC ACADEMY</p>
        <p class="color-primary fw-bold fs-5 px-4">Netwerken ik wil</p>
      </div>
    </div>
  </div>
</div>