<div class="container">
  <div class="text-center">
    <h4 class="color-primary">
      Word nu lid van de DC Community!
    </h4>
    <h1>
      Wat gebeurt er in de DC Academy-community? bekijk beschrijvingen en prestaties
    </h1>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <img src="{{ 'gains.jpg' | asset_img_url: 'master' }}" class="img-responsive rounded">
  </div>
  <div class="row pt-4">
    <div class="col-12 text-center">
      <p><span class="color-primary">Word lid van de DC Academy Community</span> waar je cryptosignalen ontvangt</p>
    </div>
  </div>
</div>
