<div data-product="{{ product | json | escape }}" data-handle="{{ product.handle }}" class="sealsubs-target-element"></div>
<style>
.sls-purchase-options-container {
  border: none !important;
}
.sealsubs-container .sls-purchase-options-container .sls-option-container, .sealsubs-container .sls-purchase-options-container .sls-option-container.sls-active {
  border: none !important;
}
</style>