<style>
  nav {
    visibility: hidden;
  }

  footer {
    display: none;
  }

  body {
    background-color: black;
    min-height: 100vh;
  }

  .js-mobile-nav-toggle {
    display: none;
  }

</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h3 class="text-gray">2/3</h3>
      <h1 class="fs-1 text-white">Leren en zelfontplooiing in 1 jaar
hoeveel geef je uit</h1>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12">
      <div class="form-check p-1 p-md-4 border rounded bg-dark d-flex">
        <input class="form-check-input bg-dark border-light p-3 ms-2 ms-md-3 ms-lg-5 bg-dark my-auto" type="checkbox"
          value="" id="flexCheckDefault">
        <label class="form-check-label text-white fs-6 fs-md-4 fs-xl-3 ps-4 py-3" for="flexCheckDefault">
          Minder dan 300 Euro per jaar
        </label>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12">
      <div class="form-check p-1 p-md-4 border rounded bg-dark d-flex">
        <input class="form-check-input bg-dark border-light p-3 ms-2 ms-md-3 ms-lg-5 bg-dark my-auto" type="checkbox"
          value="" id="flexCheckDefault">
        <label class="form-check-label text-white fs-6 fs-md-4 fs-xl-3 ps-4 py-3" for="flexCheckDefault">
          Tussen 300 Euro en 1.000 Euro per jaar
        </label>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12">
      <div class="form-check p-1 p-md-4 border rounded bg-dark d-flex">
        <input class="form-check-input bg-dark border-light p-3 ms-2 ms-md-3 ms-lg-5 bg-dark my-auto" type="checkbox"
          value="" id="flexCheckDefault">
        <label class="form-check-label text-white fs-6 fs-md-4 fs-xl-3 ps-4 py-3" for="flexCheckDefault">
          Meer dan  1.000 Euro per jaar
        </label>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12">
      <div class="cta-container mt-2 text-center">
        <a href="{{shop.url}}/pages/test-q-3">
          <button class="cta-link btn btn-primary rounded w-100 fs-4">VOLGENDE VRAAG
            <span><img src="{{'arrow-right.svg' | asset_url }}" width="44px" height="20px"></span></button>
        </a>
      </div>
    </div>
  </div>
</div>
