{% section 'custom-content-vip' %}
{% section 'packages-duo' %}
{% section 'packages-single-table-vip' %}
{% render 'accordion-courses-community' %}
{% section 'image-with-text-packages-vip' %}
{% render 'ebook-ad' %}
{% render 'gains' %}
{% comment %}  {% endcomment %}
<div class="container">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h1>Wie kan lid worden van de <span class="color-primary">DC Academy-community?</span></h1>
      <p>Als ten minste één van de onderstaande opties jou beschrijft, dan ben je bij de <a href="">DC Academy
          Community aan het juiste adres.</a></p>
    </div>
  </div>
</div>
{% render 'boxes-courses-community' %}
{% section 'packages-duo' %}

{% comment %} {% section 'rich-text-vip' %}
{% section 'image-section' %}
{% section 'package-box-vip' %} {% endcomment %}